<% if membership %>
  <div id="members-section" >
    <div id="group-link" class="center">
      <% if group.discord_id %>
        <%= link_to 'Go to group chat', "https://discordapp.com/channels/208586716414476288/#{group.discord_id}", class: "btn group-button btn-primary btn-block btn-lg", target: "_blank" %>
      <% else %>
        <div id="group-link-loader">
          <span>Creating group chat! <%= image_tag "hourglass.svg" %></span>
        </div>
      <% end %>
    </div>
    <% unless group.full? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">There's still space in this group, share this invite code with those interested!</h3>
        </div>
        <div class="panel-body">
          <div class="input-group">
            <input type="text" id="invite-link" value=<%= group_invite_url(group) %> class="form-control invite-link" readonly>
            <span class="input-group-btn">
              <button class="btn btn-default copy-invite" data-clipboard-target=".invite-link" type="button">Copy</button>
            </span>
          </div>
          <div class="share-buttons">
            <%= link_to "Share on Twitter", "https://twitter.com/intent/tweet", class: "btn btn-sm btn-twitter share-button" %>
            <%= link_to "Share on Facebook", "http://www.facebook.com/sharer/sharer.php?u=#{group_invite_url(group)}&t=Odyss", class: "btn btn-sm btn-facebook share-button" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
