<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default first-column">
      <div class="panel-heading">
        <h2><%= @group.name %></h2>
        <div class="group-buttons">
          <% if @membership %>
            <%= link_to "Leave group", membership_path(@membership),
                method: :delete, id: "membership-button", class: "btn btn-danger btn-xs", remote: true %>
          <% else %>
            <%= link_to "Join group", memberships_path(group_id: @group.id),
                method: :post, id: "membership-button", class: "btn btn-success btn-xs", remote: true %>
          <% end %>
          <% if current_user.can_manage_group?(@group) %>
            <%= link_to "Edit group", edit_group_path(@group.id), class: "btn btn-warning btn-xs" %>
          <% end %>
          <% if @membership && !@group.admins? %>
            <%= link_to "Become Admin", membership_admin_path(@membership), class: "admin-create btn btn-default btn-xs", remote: true, method: :post %>
          <% end %>
        </div>
      </div>
      <div class="panel-body">
        <p><%= simple_format(@group.information) %></p>
      </div>
    </div>
  </div>

  <div class="col-md-8" id="second-column">
    <%= render "members", membership: @membership, group: @group %>
    <div class="members-table">
      <%= render "table", group: @group %>
    </div>
  </div>
</div>
