<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2><%= @group.name %></h2>
        <% if @membership %>
          <%= link_to "Leave group", membership_path(@membership),
              method: :delete, id: "membership-button", class: "btn btn-danger btn-xs", remote: true %>
        <% else %>
          <%= link_to "Join group", memberships_path(group_id: @group.id),
              method: :post, id: "membership-button", class: "btn btn-success btn-xs", remote: true %>
        <% end %>
        <%= link_to "Edit group", edit_group_path(@group.id), class: "btn btn-warning btn-xs" %>
      </div>
      <div class="panel-body">
        <p><%= simple_format(@group.information) %></p>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <%= link_to 'Go to group chat', '', class: "btn btn-primary btn-block btn-lg" %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">There's still space in this group, share this invite code with those interested!</h3>
      </div>
      <div class="panel-body">
        <div class="input-group">
          <input type="text" id="invite-link" value=<%= group_invite_url(@group) %> class="form-control invite-link" readonly>
          <span class="input-group-btn">
            <button class="btn btn-default copy-invite" data-clipboard-target=".invite-link" type="button">Copy</button>
          </span>
        </div>
        <div class="share-buttons">
          <div class="fb-send" data-href="https://developers.facebook.com/docs/plugins/" data-size="large"></div>
          <div class="g-plus" data-action="share" data-annotation="none" data-height="24"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Members</h3></div>
      <div class="panel-body">
        <div class="container-fluid">
          <% @group.users.each_slice(3) do |users| %>
            <div class="row">
              <% 3.times do |i| %>
                <% if users[i] %>
                  <div class="col-md-4">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <%= users[i].name %>
                        <% if users[i].can_manage_group?(@group) %>
                          <div>
                            <span class="label label-default">Admin</span>
                          </div>
                        <% end %>
                      </div>
                      <div class="panel-body">
                        <div class="list-group">
                          <div><%= image_tag users[i].image_url, alt: users[i].name %></div>
                          <% if current_user.can_manage_user?(users[i], @group) %>
                            <div>
                                <button class="btn btn-default btn-xs" type="button">Kick</button>
                                <% if users[i].can_manage_group?(@group) %>
                                  <button class="btn btn-default btn-xs" type="button">Remove Admin</button>
                                <% else %>
                                  <button class="btn btn-default btn-xs" type="button">Make Admin</button>
                                <% end %>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
