<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Odyss', root_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar">
      <% if current_user %>
        <ul class="nav navbar-nav pull-right">
          <li class="dropdown notifications">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
              <% if current_user.unread_notifications? %>
                <span id="notification-count" class="badge"><%= current_user.unread_notifications_count %></span>
              <% end %>
            </a>
            <ul class="dropdown-menu dropdown-menu-right scrollable-menu">
              <% current_user.notifications_users.ordered.each do |notifications_user| %>
                <li><%= notification_link(notifications_user) %></li>
              <% end %>
            </ul>
            <ul class="dropdown-menu dropdown-menu-right dropdown-footer">
              <li class="center"><%= link_to "See All", user_notifications_path(user_id: current_user.id) %></li>
            </ul>
          </li>
          <li><%= image_tag current_user.image_url, alt: current_user.name, id: "profile-image" %></li>
          <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
